<%= form_for [@notable, note] do |f| %>

  <%= error_messages_for note %>

  <h4><%= note.notable_name %></h4>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :cols => '80', :rows => '10', class: 'md_edit' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
