<h2>Notes</h2>

<p><%= link_to('Add New Note', [:new, @notable, :note]) %></p>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th class='updated_at'>Updated at</th>
      <th class='contents'>Contents</th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <% updated_at = note.updated_at.to_s('month date year')%>
      <% truncated_contents = truncate(note.contents) %>
      <% default_link_dest = [@notable, note] %>
      <% edit_link_dest = [:edit, @notable, note] %>
      <% destroy_link_html_opts = {
        data: { confirm: 'Are you sure?' },
        method: :delete
      } %>
      <tr>
        <td><%= link_to(updated_at, default_link_dest) %></td>
        <td><%= link_to(truncated_contents, default_link_dest) %></td>
        <td><%= link_to 'Edit', edit_link_dest %></td>
        <td><%= link_to 'Destroy', default_link_dest, destroy_link_html_opts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
