<h1>Add client to agency</h1>

<%= form_for(@recruitment, url: company_recruitments_path) do |f| %>

  <%= error_messages_for @recruitment %>

  <div class='field'>
    <%= f.label :client %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class='actions'>
    <%= f.submit('Add client') %>
  </div>
<% end %>
