<h1>Add agency to client</h1>

<%= form_for(@recruitment, url: company_recruitments_path) do |f| %>

  <%= error_messages_for @recruitment %>

  <div class='field'>
    <%= f.label :agency %><br>
    <%= f.text_field :agency_name %>
  </div>
  <div class='actions'>
    <%= f.submit('Add agency') %>
  </div>
<% end %>
