<%= form_for(@interaction) do |f| %>

  <%= error_messages_for @interaction %>

  <div class="field">
    <%= f.label :approx_date %><br>
    <%= f.date_field :approx_date %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div>
  <div class="field">
    <% media_opts = options_for_select(
      generate_select_opts_for_media,
      @interaction.medium
    ) %>
    <%= f.label :medium %><br>
    <%= f.select :medium, media_opts, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :cols => '80', :rows => '10', class: 'md_edit' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
