<p id="notice"><%= notice %></p>

<h1>Listing Interactions</h1>

<%= link_to 'New interaction', new_interaction_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= sortable 'approx_date', 'Approx. date' %></th>
      <th><%= sortable 'contact_name', 'Contact' %></th>
      <th>Medium</th>
      <th>Notes</th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <tr>
        <td><%= link_to interaction.approx_date, interaction %></td>
        <td><%= link_to(interaction.contact.name, interaction.contact) if interaction.contact.present?  %></td>
        <td><%= interaction.medium.humanize %></td>
        <td><%= link_to(truncate(interaction.notes), interaction) %></td>
        <td><%= link_to 'Edit', edit_interaction_path(interaction) %></td>
        <td><%= link_to 'Destroy', interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
