<% @page_title = "Interaction ~ #{@interaction.approx_date}" %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>

<p>
  <strong>Approx date:</strong>
  <%= @interaction.approx_date %>
</p>

<p>
  <strong>Contact:</strong>
  <%= link_to(@interaction.contact.name, @interaction.contact) if @interaction.contact %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @interaction.medium.humanize %>
</p>

<p>
  <strong>Notes:</strong>
  <%= markdown(@interaction.notes) %>
</p>
