<% @page_title = "Postings" %>

<p id="notice"><%= notice %></p>

<h1>Postings</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= generate_sortable_link('job_application_title', title: 'Job Application') %></th>
      <th><%= generate_sortable_link('posting_date', title: 'Posted') %></th>
      <th>Source</th>
      <th>Content</th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <% job_application = posting.job_application %>
      <% content = truncate(posting.content) %>
      <% default_link_dest = job_application_posting_path(job_application) %>

      <tr>
        <td><%= link_to job_application.title, job_application %></td>
        <td><%= posting.posting_date %></td>
        <td><%= posting.source.display_name if posting.source %></td>
        <td><%= link_to content, default_link_dest %></td>
        <td><%= link_to 'Edit', edit_job_application_posting_path(job_application) %></td>
        <td><%= link_to 'Delete', default_link_dest, delete_link_opts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
