<% @page_title = 'Cover Letters' %>

<p id="notice"><%= notice %></p>

<h1>Listing Cover Letters</h1>

<%= link_to 'New cover letter', new_cover_letter_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= sortable 'job_application_title', 'Job application' %></th>
      <th><%= sortable 'sent_date', 'Sent date' %></th>
      <th>Content</th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @cover_letters.each do |cover_letter| %>
      <tr>
        <td><%= link_to cover_letter.job_application.title, cover_letter.job_application %></td>
        <td><%= cover_letter.sent_date %></td>
        <td><%= link_to(truncate(cover_letter.content), cover_letter) %></td>
        <td><%= link_to 'Edit', edit_cover_letter_path(cover_letter) %></td>
        <td><%= link_to 'Destroy', cover_letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
