<p id="notice"><%= notice %></p>

<p>
  <strong>Job application:</strong>
  <%= link_to @cover_letter.job_application.title, @cover_letter.job_application %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @cover_letter.sent_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cover_letter.content %>
</p>

<%= link_to 'Edit', edit_cover_letter_path(@cover_letter) %> |
<%= link_to 'Back', cover_letters_path %>
