<%= form_for(@job_application) do |f| %>

  <%= error_messages_for @job_application %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field(:company_name) %>
  </div>

  <% if show_select_active %>
    <%= render(partial: 'form_select_active', locals: { f: f })  %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
