<p id="notice"><%= notice %></p>

<h1>Listing Job Applications</h1>

<%= link_to 'New job application', new_job_application_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Active</th>
      <th>Company &amp; Title</th>
      <th>Last Updated</th>
      <th class='actions' colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= status_tag job_application.active %></td>
        <td><%= job_application.title %></td>
        <td><%= job_application.updated_at %></td>
        <td><%= link_to 'Show', job_application %></td>
        <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
        <td><%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
