<% @page_title = "Job Applications" %>

<p id="notice"><%= notice %></p>

<h1>Listing Job Applications</h1>

<%= link_to 'New job application', new_job_application_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= render partial: 'filter_active' %></th>
      <th><%= generate_sortable_link('title', title: 'Company & Job Title') %></th>
      <th><%= generate_sortable_link('updated_at', title: 'Updated') %></th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= status_tag job_application.active %></td>
        <td><%= link_to job_application.title, job_application %></td>
        <td><%= job_application.updated_at %></td>
        <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
        <td><%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
