<% @page_title = "Application for #{job_application.title}" %>

<div class='job_applications'>
  <h1><%= job_application.title %></h1>
  <%= content_tag :p do %>
    <strong>Active:</strong>
    <%= status_tag(job_application.active) %>
  <% end %>

  <%= content_tag :p do %>
    <strong>Last updated:</strong>
    <%= job_application.updated_at %>
  <% end %>

  <%= content_tag :p do %>
    <strong>Company:</strong>
    <%= job_application.link_to_company %>
  <% end %>

  <%= link_to 'Edit', edit_job_application_path(job_application) %> |
  <%= link_to 'Delete', job_application, delete_link_opts %> |
  <%= link_to 'Back', job_applications_path %>

  <div class='attached_records notes'>
    <%= render 'notes/notable_notes' %>
  </div>

  <div class='attached_records postings'>
    <h2>Posting</h2>
    <%= job_application.add_or_view_attached_posting %>
  </div>

  <div class='attached_records cover_letters'>
    <h2>Cover Letter</h2>
    <%= job_application.add_or_view_attached_cover_letter %>
  </div>
</div>
