<%= form_for @posting, url: job_application_posting_path do |f| %>

  <%= error_messages_for @posting %>

  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :posting_date %><br>
    <%= f.date_field :posting_date %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :size => '80x40', :class => 'md_edit' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
