<% @page_title = "Postings" %>

<p id="notice"><%= notice %></p>

<h1>Listing Postings</h1>

<%= link_to 'New posting', new_posting_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= generate_sortable_link('job_application_title', 'Job application') %></th>
      <th><%= generate_sortable_link('posting_date', 'Date') %></th>
      <th>Source</th>
      <th>Content</th>
      <th class='actions' colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= link_to posting.job_application.title, posting.job_application %></td>
        <td><%= posting.posting_date %></td>
        <td><%= posting.source %></td>
        <td><%= link_to(truncate(posting.content), posting) %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
