<p id="notice"><%= notice %></p>

<h1>Listing Postings</h1>

<%= link_to 'New posting', new_posting_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Job application</th>
      <th>Date</th>
      <th>Content</th>
      <th>Source</th>
      <th class='actions' colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.job_application %></td>
        <td><%= posting.posting_date %></td>
        <td><%= posting.content %></td>
        <td><%= posting.source %></td>
        <td><%= link_to 'Show', posting %></td>
        <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
        <td><%= link_to 'Destroy', posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
