<p id="notice"><%= notice %></p>

<p>
  <strong>Job application:</strong>
  <%= link_to @posting.job_application.title, @posting.job_application %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @posting.job_title %>
</p>

<p>
  <strong>Posting date:</strong>
  <%= @posting.posting_date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @posting.source %>
</p>

<p>
  <strong>Content:</strong>
  <%= @posting.content %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
