<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @posting.company %>
</p>

<p>
  <strong>Job application:</strong>
  <%= @posting.job_application %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
