<% @page_title = "#{@posting.job_title}" %>

<p id="notice"><%= notice %></p>

<% default_link_dest = job_application_posting_path(@posting.job_application) %>
<% destroy_link_html_opts = {
  data: { confirm: 'Are you sure?' },
  method: :delete
} %>

<%= link_to 'Edit', edit_job_application_posting_path(@posting.job_application) %> |
<%= link_to 'Destroy', default_link_dest, destroy_link_html_opts %> |
<%= link_to 'Back', :back %>

<p>
  <strong>Job application:</strong>
  <%= link_to @posting.job_application.title, @posting.job_application %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @posting.job_title %>
</p>

<p>
  <strong>Posting date:</strong>
  <%= @posting.posting_date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @posting.source.display_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@posting.content) %>
</p>
