<ul>
  <li><%= link_to 'Companies', companies_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
  <li><%= link_to 'Interactions', interactions_path %></li>
  <li><%= link_to 'Job Applications', job_applications_path %></li>
  <li><%= link_to 'Postings', postings_path %></li>
  <li><%= link_to 'Cover Letters', cover_letters_path %></li>
</ul>
