<% @page_title = "Contacts" %>

<h1>Contacts</h1>

<%= link_to 'New contact', new_contact_path %>

<table class='contacts table table-striped table-hover'>
  <thead>
    <tr>
      <th class='name'><%= generate_sortable_link('name') %></th>
      <th class='company'><%= generate_sortable_link('company_name', title: 'Company') %></th>
      <th class='phone'>Phone(s)</th>
      <th class='email'>Email</th>
      <th class='actions'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to(contact.name, contact) %></td>
        <td><%= link_to(contact.company.name, contact.company) if contact.company.present? %></td>
        <td>
          <%= contact.phone_office %><br />
          <%= contact.phone_mobile %>
        </td>
        <td class='email'><%= contact.email %></td>
        <td>
          <%= link_to 'Edit', edit_contact_path(contact) %><br />
          <%= link_to 'Delete', contact, delete_link_opts %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
