<% @page_title = "Contacts" %>

<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<%= link_to 'New contact', new_contact_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= generate_sortable_link('name') %></th>
      <th>Title</th>
      <th><%= generate_sortable_link('company_name', title: 'Company') %></th>
      <th>Office Phone</th>
      <th>Mobile Phone</th>
      <th>Email</th>
      <th class='actions'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to(contact.name, contact) %></td>
        <td><%= contact.title %></td>
        <td><%= link_to(contact.company.name, contact.company) if contact.company.present? %></td>
        <td><%= contact.phone_office %></td>
        <td><%= contact.phone_mobile %></td>
        <td><%= contact.email %></td>
        <td class='actions'>
          <%= link_to("Edit", edit_contact_path(contact)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
