<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<%= link_to 'New company', new_company_path %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Category</th>
      <th class='actions' colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>
          <%= link_to(
            company.website,
            interpolate_link(company.website),
            target: '_blank'
          ) %>
        </td>
        <td><%= company.category %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
