<% @page_title = "Cover Letter for #{@cover_letter.job_application_title}" %>

<p id="notice"><%= notice %></p>

<% default_link_dest = job_application_posting_path(@cover_letter.job_application) %>
<% destroy_link_html_opts = {
  data: { confirm: 'Are you sure?' },
  method: :delete
} %>

<%= link_to 'Edit', edit_job_application_cover_letter_path(@cover_letter.job_application) %> |
<%= link_to 'Destroy', default_link_dest, destroy_link_html_opts %> |
<%= link_to 'Back', :back %>

<p>
  <strong>Job application:</strong>
  <%= link_to @cover_letter.job_application.title, @cover_letter.job_application %>
</p>

<p>
  <strong>Sent date:</strong>
  <%= @cover_letter.sent_date %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@cover_letter.content) %>
</p>
