<ul class='nav navbar-nav navbar-right nav-pills'>
  <li><%= link_to('About', about_path) %></li>
  <li class='dropdown'>
    <%= link_to('Login', '#', dropdown_opts) %>
    <ul class='dropdown-menu omni_auth_options'>
      <%= render 'shared/omni_auth_options' %>
      <li role='separator' class='divider'></li>
      <li class='dropdown-header'>Don't use those services?</li>
      <li>
        <%= link_to '/register' do %>
          <i class='fa fa-pencil'><span>Register</span></i>
        <% end %>
      </li>
      <li>
        <%= link_to login_path do %>
          <i class='fa fa-sign-in'><span>Login</span></i>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
