<ul class='nav navbar-nav nav-pills'>
  <li><%= link_to('Job Applications', job_applications_path) %></li>
  <li class='dropdown'>
    <%= link_to('Directories', '#', dropdown_opts) %>
    <ul class='dropdown-menu'>
      <li class='dropdown-header'>My Resources</li>
      <li><%= link_to('Contacts', contacts_path) %></li>
      <li><%= link_to('Notes', notes_path) %></li>
      <li><%= link_to('Cover Letters', cover_letters_path) %></li>
      <li><%= link_to('Postings', postings_path) %></li>
      <li role='separator' class='divider'></li>
      <li class='dropdown-header'>Public Resources</li>
      <li><%= link_to('Companies', companies_path) %></li>
    </ul>
  </li>
</ul>
<ul class='nav navbar-nav navbar-right nav-pills'>
  <li class='dropdown'>
    <%= link_to('Account', '#', dropdown_opts) %>
    <ul class='dropdown-menu'>
      <% logout_opts = { method: 'delete', class: 'last_a' }%>
      <li><%= link_to('My Profile', user_path) %></li>
      <li><%= link_to('Log out', logout_path, logout_opts) %></li>
    </ul>
  </li>
</ul>
