<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= debug(params) if Rails.env.development? %>
    <div class='header clearfix'>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <nav>
        <%= render partial: 'shared/navigation' %>
      </nav>
    </div>

    <div class='container content'>
      <%= yield %>
    </div>

  </div>

  <%= console if Rails.env.development? %>
</body>
</html>
