<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= @page_title || 'JobTracker' %> | Get a Job</title>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />

  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= debug(params) if Rails.env.development? %>
    <nav class='nav navbar-inverse'>
      <%= render template: 'navigation/main' %>
    </nav>
    <div class='content'>
      <%= render partial: 'shared/flash' %>
      <%= yield %>
    </div>
  </div>
  <%= console if Rails.env.development? %>
</body>
</html>
